.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}


.nav-wrapper {
  /* position: fixed; */
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  /* height: 88px; */
  z-index: 2;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

 span.badge {
  display: inline-block;
  float: none;
  margin-left: 4px;
  line-height: 20px;
  height: 22px;
  -webkit-font-smoothing: auto;
  position: absolute !important;
  min-width: 1rem !important;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
